html, body {
    text-align: center;
    height: 100%;
    margin: 0;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
}

button:hover {
    box-shadow: 0 1px 8px black;  
}

h1 {
    font-size: 50px;
    color: white;
}

h2 {
    font-size: 30px;
    color: black;
}

h3 {
    font-size: 25px;
    color: black;
}

footer {
    height: 20px;
    width: 100%;
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

section {
    width: 100%;
    max-width: 650px;
    padding: 30px;
    margin: auto;
}

.operator {
    /* background-color: white; */
    padding: 10px;
    color: white;
}

.guns {
    /* background-color: white; */
    padding: 10px;
    color: white;
}

.equipment {
    /* background-color: white; */
    padding: 10px;
    color: white;
}

body {
    background-size: 100% 265%;
}

#gadgetName {
    font-size: 14px;
    color: white;
}

#title {
    color: white;
}

/* #attack-op:hover {
    position: relative;
    top: 10px;
} */